@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('SweetSansPro-Bold.woff2') format('woff2'),
        url('SweetSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('SweetSansPro-Medium.woff2') format('woff2'),
        url('SweetSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('SweetSansPro-Regular.woff2') format('woff2'),
        url('SweetSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

