.container {
  width: fit-content;
  margin: auto;
}

.container h1 {
  color: black;
  background-color: gainsboro;
  width: fit-content;
  padding: 0 1rem;
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 1.75rem;
  clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 0 100%, 0 0);
}

.underline {
  width: 100%;
  height: 2px;
  background-color: gainsboro;
  margin-bottom: 2rem;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
