.container {
  position: fixed;
  bottom: 0;
  /* margin-top: auto; */
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.523);
  backdrop-filter: blur(4px);
}

.container ul {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  margin: auto;
}

.container ul li img {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 400px) {
  .container ul li img {
    width: 1.75rem;
    height: 1.75rem;
  }
}
