.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.531);
  backdrop-filter: blur(8px);
  animation: slideFromTop 300ms ease top;
}

.logo {
  position: fixed;
  top: -0.5rem;
  left: 1rem;
  width: 200px;
}

.logo-two {
  position: fixed;
  top: -2rem;
  right: -3rem;
  width: 150px;
}

.container,
.mobile-view {
  font-family: "ClashDisplay-ExtraLight", sans-serif;
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 20px;
}

.container ul {
  display: flex;
  gap: 2rem;
  width: fit-content;
  margin: auto;
}

.container ul li {
  transition: all 300ms ease;
}

.container ul li:hover {
  text-shadow: 0 0 30px rgb(255, 255, 255);
  font-weight: 600;
}

.link {
  text-shadow: 0 0 30px rgb(255, 255, 255);
  font-weight: 600;
}
.menu-button {
  display: none;
}
.mobile-view {
  display: none;
  background-color: rgba(0, 0, 0, 0.922);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

@media screen and (max-width: 810px) {
  .menu-button {
    display: block;
    margin: 1rem;
  }
  .mobile-view {
    display: block;
    transition: all 250ms ease;
  }
  .mobile-view ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    margin: auto;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }

  .mobile-view ul li {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid rgb(85, 85, 85);
    padding: 1rem;
  }

  .container {
    display: none;
  }
}

.menu-button,
.close-button {
  padding: 1rem;
}

@keyframes slideFromTop {
  0% {
    transform: scale(0, 1);
  }

  50% {
    transform: scale(0.5, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}
