.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.531);
  backdrop-filter: blur(8px);
}

.container,
.mobile-view {
  text-transform: uppercase;
  padding: 2rem 0;
}

.container ul {
  display: flex;
  gap: 2rem;
  width: fit-content;
  margin: auto;
}

.container ul li:hover {
  border-bottom: 2px solid white;
  transition: all 300ms ease;
}

.menu-button {
  display: none;
}
.mobile-view {
  display: none;
  background-color: rgba(0, 0, 0, 0.922);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

@media screen and (max-width: 620px) {
  .menu-button {
    display: block;
  }
  .mobile-view {
    display: block;
    transition: all 250ms ease;
  }
  .mobile-view ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    margin: auto;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }

  .mobile-view ul li {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid rgb(85, 85, 85);
    padding: 1rem;
  }

  .container {
    display: none;
  }
}

.menu-button,
.close-button {
  padding: 1rem;
}
