@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "ClashDisplay-Variable", sans-serif;
  /* font-family: "Sweet Sans Pro", sans-serif; */
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

p {
  font-family: "Sweet Sans Pro", sans-serif;
}

.margin {
  max-width: 1240px;
  margin: 0 auto;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: black;
  min-height: 100vh;
  background-size: contain;
  background-image: url("/earth-bg.png");
}
@media (max-width: 1279px) {
  .margin {
    padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  .margin {
    padding: 0 1.5rem;
  }
}
