:root {
  --green-color: #a5fa00;
  --text-color: rgba(252, 252, 252, 0.924);
  --white-color: #fff;
  --black-color: #000;
  --card-bg-color: #18191a;
  --bg-color: #080808;
  --white-shadow: rgba(255, 255, 255, 0.5);
  --green-shadow: rgba(165, 250, 0, 0.6);
}
